{% extends "auctions/layout.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'auctions/styles.css' %}">
{% endblock %}

{% block body %}
    <h2>Active Listings</h2>
    {% if messages %}
        {% for message in messages %}
            <div class="message">{{ message }}</div>
        {% endfor %}
    {% endif %}

    <table id="activelist">
        <thead>
            <tr>
                <th>Name</th>
                <th>Image</th>
                <th>Description</th>
                <th>Price</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for list in a1 %}
            <tr>
                <td>{{ list.title }}</td>
                <td>
                    {% if list.image_url %}
                        <img src="{{ list.image_url }}" alt="image" class="listing-image">
                    {% else %}
                        <img src="https://upload.wikimedia.org/wikipedia/commons/6/6c/No_image_3x4.svg" alt="No image" class="listing-image">
                    {% endif %}
                </td>
                <td>{{ list.desc }}</td>
                <td>${{ list.starting_bid }} </td>
                <td><a class="view-btn" href="{% url 'listingpage' list.id %}">View Bid</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}