{% extends "auctions/layout.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'auctions/styles.css' %}">
{% endblock %}

{% block body %}
<h2>Active Listings</h2>
<br>
{% if messages %}
    {% for message in messages %}
        <div class="message-box">
            <span class="close-btn" onclick="this.parentElement.style.display='none';">&times;</span>
            {{ message }}
        </div>
    {% endfor %}
{% endif %}

<!-- Loop through listings -->
{% for list in a1 %}
    <table class="listing-table">
        
        <tbody>
            <tr>
                <td>{{ list.title }}</td>
                <td>
                    {% if list.image_url %}
                        <img src="{{ list.image_url }}" alt="image" class="listing-image">
                    {% else %}
                        <img src="https://upload.wikimedia.org/wikipedia/commons/6/6c/No_image_3x4.svg" alt="No image" class="listing-image">
                    {% endif %}
                </td>
                <td>
                    {{ list.desc }}
                    <br><br>
                    <span class="creation-time">Created at: {{ list.created_at|date:"M d, Y h:i A" }}</span>

                </td>
                <td>${{ list.starting_bid }}</td>
                <td><a class="view-btn" href="{% url 'listingpage' list.id %}">View Bid</a></td>
            </tr>
        </tbody>
    </table>
{% endfor %}
{% endblock %}
